<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lollipop.board.admin.menu.mapper.MenuMapper">

    <select id="selectMenus" resultType="menuDTO">
        WITH RECURSIVE CTE AS (
            SELECT M.ID                 AS MENU_ID
                 , M.MENU_NAME          AS MENU_NAME
                 , M.PARENT_MENU_ID     AS PARENT_MENU_ID
                 , 1                    AS `DEPTH`
                 , M.SORT_ORDER         AS SORT_ORDER
                 , M.MENU_URL           AS MENU_URL
                 , M.ID                 AS GROUP_ID
              FROM MENU M
             WHERE PARENT_MENU_ID = 0
               AND USAGE_STATUS = true
             UNION ALL
            SELECT M2.ID                AS MENU_ID
                 , M2.MENU_NAME         AS MENU_NAME
                 , M2.PARENT_MENU_ID    AS PARENT_MENU_ID
                 , CTE.`DEPTH` + 1      AS `DEPTH`
                 , M2.SORT_ORDER        AS SORT_ORDER
                 , M2.MENU_URL          AS MENU_URL
                 , CTE.GROUP_ID         AS GROUP_ID
              FROM MENU M2
             INNER JOIN CTE ON M2.PARENT_MENU_ID = CTE.MENU_ID
             WHERE M2.USAGE_STATUS = true
        )
        SELECT C.MENU_ID            AS menuId
             , C.MENU_NAME          AS menuName
             , C.PARENT_MENU_ID     AS parentMenuId
             , C.GROUP_ID           AS groupId
             , C.`DEPTH`            AS depth
             , C.SORT_ORDER         AS sortOrder
             , C.MENU_URL           AS menuUrl
             , (SELECT COUNT(*)
                  FROM MENU
                 WHERE PARENT_MENU_ID = C.MENU_ID) AS childCount
          FROM CTE C
         ORDER BY C.GROUP_ID, C.`DEPTH`, C.SORT_ORDER, C.MENU_NAME
    </select>

    <!-- 메뉴 상세조회 -->
    <select id="selectMenuById" parameterType="java.lang.Integer" resultType="menuDTO">
        SELECT ID                       AS menuId
             , MENU_NAME                AS menuName
             , PARENT_MENU_ID           AS parentMenuId
             , IFNULL(MENU_URL, '')     AS menuUrl
             , SORT_ORDER               AS sortOrder
             , USAGE_STATUS             AS usageStatus
          FROM MENU
         WHERE ID = #{menuId}
    </select>

    <!-- 메뉴 저장 -->
    <insert id="insertMenu" parameterType="menuDTO">
        INSERT INTO MENU
            (
              menu_name
            , menu_url
            , parent_menu_id
            , sort_order
            , usage_status
            , created_by
            , created_at
            ) VALUES (
              #{menuName}
            , #{menuUrl}
            , #{parentMenuId}
            , #{sortOrder}
            , #{usageStatus}
            , #{userId}
            , NOW()
            )
    </insert>

    <!-- 메뉴 수정 -->
    <update id="updateMenu" parameterType="menuDTO">
        UPDATE MENU
           SET MENU_NAME        = #{menuName}
             , MENU_URL         = #{menuUrl}
             , PARENT_MENU_ID   = #{parentMenuId}
             , SORT_ORDER       = #{sortOrder}
             , USAGE_STATUS     = #{usageStatus}
             , MODIFIED_BY      = #{userId}
             , MODIFIED_AT      = NOW()
         WHERE ID = #{menuId}
    </update>

    <!-- 메뉴 삭제 -->
    <delete id="deleteMenu" parameterType="java.lang.Integer">
        DELETE FROM MENU
         WHERE ID = #{menuId}
    </delete>

    <!-- 네비게이션 메뉴 조회 -->
    <select id="selectBreadcrumbs" parameterType="java.lang.String" resultType="menuDTO">
        WITH RECURSIVE CTE AS (
            SELECT M.ID                 AS MENU_ID
                 , M.MENU_NAME          AS MENU_NAME
                 , M.PARENT_MENU_ID     AS PARENT_MENU_ID
                 , M.MENU_URL           AS MENU_URL
              FROM MENU M
             WHERE M.MENU_NAME = #{menuName}
               AND USAGE_STATUS = true
             UNION ALL
            SELECT M2.ID                AS MENU_ID
                 , M2.MENU_NAME         AS MENU_NAME
                 , M2.PARENT_MENU_ID    AS PARENT_MENU_ID
                 , M2.MENU_URL          AS MENU_URL
              FROM MENU M2
             INNER JOIN CTE ON M2.ID = CTE.PARENT_MENU_ID
             WHERE M2.USAGE_STATUS = true
        )
        SELECT C.MENU_ID            AS menuId
             , C.MENU_NAME          AS menuName
             , C.MENU_URL           AS menuUrl
          FROM CTE C
         ORDER BY C.PARENT_MENU_ID, C.MENU_ID
    </select>

</mapper>