<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lollipop.board.admin.role.mapper.RoleMapper">

    <select id="selectRoleCount" resultType="java.lang.Integer">
        SELECT COUNT(r.id) AS totalCount
          FROM `role` r
         INNER JOIN `user` u ON r.created_by = u.id
    </select>

    <!-- 권한목록 조회 -->
    <select id="selectRoleList" parameterType="roleParam" resultType="roleDTO">
        SELECT *
          FROM (
                SELECT ROW_NUMBER() OVER(ORDER BY r.id)         AS rowNumber
                     , r.id                                     AS roleId
                     , r.role_name                              AS roleName
                     , r.description                            AS description
                     , DATE_FORMAT(r.created_at, '%Y-%m-%d')    AS createdAt
                     , u.user_name                              AS createdBy
                  FROM `role` r
                 INNER JOIN `user` u ON r.created_by = u.id
                ) a
        <if test="sortColumn != null">
            ORDER BY ${sortColumn} ${sortDirection}
        </if>
        <if test="pageSize > 0">
            LIMIT #{startIndex}, #{pageSize}
        </if>
    </select>

    <!-- 권한조회 -->
    <select id="selectRoleById" parameterType="java.lang.Integer" resultType="roleDTO">
        SELECT r.id             AS roleId
             , r.role_name      AS roleName
             , r.description    AS description
             , r.created_at     AS createdAt
             , u.user_name      AS createdBy
          FROM `role` r
         INNER JOIN `user` u ON r.created_by = u.id
         WHERE r.id = #{roleId}
    </select>

    <!-- 권한저장 -->
    <insert id="insertRole" parameterType="roleDTO">
        INSERT INTO `role` (
              role_name
            , description
            , created_by
            , created_at
        ) VALUES (
              #{roleName}
            , #{description}
            , #{userId}
            , NOW()
        )
    </insert>

    <!-- 권한수정 -->
    <update id="updateRole" parameterType="roleDTO">
        UPDATE `role`
           SET role_name = #{roleName}
             , description = #{description}
             , modified_by = #{userId}
             , modified_at = NOW()
         WHERE id = #{roleId}
    </update>

    <!-- 권한삭제 -->
    <delete id="deleteRoleById" parameterType="java.lang.Integer">
        DELETE FROM `role`
         WHERE id = #{roleId}
    </delete>

</mapper>